/* colors: rgb(210, 210, 210), #fff, #14213d, #32559A, #8C9DC0 */
/* font: "Noto Sans" */


body {
    text-align: center;
    background-color: rgb(210, 210, 210);
    font-family: "Noto Sans", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 3.2rem;
    color: #fff;
    display: grid;
    place-content: center;
}

h1,
p {
    margin: 0 auto;
    padding: 0;
}

.layout-div {
    display: grid;
    width: 400px;
    /* border: 1px solid red; */
    justify-content: center;
}

.screen-div {
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 10px;
    color: #000;
    padding: 1.25rem;
    font-size: 2.2rem;
    text-align: right;
    overflow: hidden;
    direction: rtl;
    height: 6rem;
}

.inner-screen-div {
    white-space: nowrap;
    direction: ltr;
    display: inline-block;
}

.calculator-div {
    width: fit-content;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    /* border: 1px solid green; */
}

.num-button {
    background-color: #14213d;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.operator-button {
    background-color: #32559A;
    width: 5rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    align-items: center;
}

.reset-button {
    background-color: #8C9DC0;
    height: 5rem;
    aspect-ratio: 1/1;
    border-radius: 10px;
    display: grid;
    align-items: center;

}

footer {
    font-size: 0.8rem;
    margin-top: 20%;
}

@media (max-width: 325px) {
    body {
        font-size: 2.25rem;
    }

    .layout-div {
        width: auto;
    }

    .screen-div {
        font-size: 2rem;
        height: 3.5rem;
    }

    .num-button {
        width: 3.5rem;
    }

    .operator-button {
        width: 3.5rem;
    }

    .reset-button {
        height: 3.5rem;

    }
}